<%= @p_end %>
<% if @cases %>
	Given the criteria, the average next-day result was <%= @total %>
	<br>
	<table class="table">
		<thead>
			<th>Date</th>
			<th>Open</th>
			<th>Close</th>
			<th>Percent</th>
			<th>Next Day Open</th>
			<th>Next Day Close</th>
			<th>Next Day Percent</th>
		</thead>
		<!-- Return list of current days -->
		<% @cases.each do |case_instance| %>
			<tr>
				<td><%= case_instance.date %></td>
				<td><%= case_instance.open %></td>
				<td><%= case_instance.close %></td>
				<td><%= ((case_instance.close - case_instance.open)/(case_instance.open)) * 100 %></td>

				<!--Next day case stuff-->
				<% next_case = nextDay(case_instance.id) %>
				<td><%= next_case.open %></td>
				<td><%= next_case.close %></td>
				<td><%= ((next_case.close - next_case.open)/(next_case.open))*100 %></td>


			</tr>
		<% end %>
	</table>
<% else %>
	There was an error with your requset
<%end%>


