<% if @cases %>
	Given the criteria, the average next-day result was: <h1><%= @total.round(2) %>%</h1>Based on a total of <%= @count %> cases.<br>
	<br>
	<b>Full Results</b>
	<table class="table">
		<thead>
			<th>Date</th>
			<th>Open</th>
			<th>Close</th>
			<th>Percent</th>
			<th>Next Day Open</th>
			<th>Next Day Close</th>
			<th>Next Day Percent</th>
		</thead>
		<!-- Return list of current days -->
		<% @cases.each do |case_instance| %>
			<tr>
				<td><%= case_instance.date %></td>
				<td><%= case_instance.open %></td>
				<td><%= case_instance.close %></td>
				<td><%= (((case_instance.close - case_instance.open)/(case_instance.open)) * 100).round(2) %>%</td>

				<!--Next day case stuff-->
				<% next_case = nextDay(case_instance.id) %>
				<td><%= next_case.open %></td>
				<td><%= next_case.close %></td>
				<td><%= (((next_case.close - next_case.open)/(next_case.open))*100).round(2) %>%</td>


			</tr>
		<% end %>
	</table>
<% else %>
	There was an error with your request.  No results have been found.  Check your dates and percent ranges and try again.  Please note, the numbers have not been updated since March 2013.
	<%= @p_start %> <br> <%= @p_end %> <br> <%= @ni %>
<%end%>


